
<div class="row">
    <div class="col-xl-6 kc2LoginForm ">
        <h3>LOGIN</h3>
        <input type="text" class="form-control"  ng-model="vm.mail" placeholder="E-mail">
        <input type="password"  ng-model="vm.pass" class="form-control" placeholder="Senha">
        <input type="button" value="LOGAR" class="btn btn-primary kc2Center"  ng-click="vm.login()">
    
        <div class="alert alert-success" role="alert">
            <strong>Usuário:</strong><br>
            teste@kc2.com.br<br>
            <strong>Senha:</strong><br>
            1234
        </div>
    </div>
</div>

    
